In [64]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [65]:
dataset = pd.read_csv('sources/CreditPrediction.csv')

In [66]:
dataset.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
count,1.016700e+04,10167.000000,10167.000000,9944.000000,10147.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,0.0
mean,7.391864e+08,46.753817,2.346513,35.913415,3.813245,2.341595,2.455887,8632.552346,1162.176748,0.759721,4402.349661,64.864463,0.712192,0.274716,NaN
std,3.690366e+07,13.520505,1.298701,7.980102,1.554741,1.010502,1.105580,9087.333842,815.082643,0.219054,3393.953441,23.461680,0.237934,0.275638,NaN
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,0.000000,510.000000,10.000000,0.000000,0.000000,NaN
25%,7.130407e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2556.500000,348.500000,0.631000,2155.500000,45.000000,0.582000,0.022000,NaN
50%,7.179400e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,0.736000,3900.000000,67.000000,0.702000,0.175000,NaN
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1783.000000,0.859000,4740.000000,81.000000,0.818000,0.502500,NaN
max,8.283431e+08,352.330517,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,NaN

In [67]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10167 entries, 0 to 10166
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10167 non-null  int64
 1   Customer_Age              10167 non-null  float64
 2   Gender                    9968 non-null   object
 3   Dependent_count           10167 non-null  int64
 4   Education_Level           10167 non-null  object
 5   Marital_Status            8217 non-null   object
 6   Income_Category           10167 non-null  object
 7   Card_Category             8243 non-null   object
 8   Months_on_book            9944 non-null   float64
 9   Total_Relationship_Count  10147 non-null  float64
 10  Months_Inactive_12_mon    10167 non-null  int64
 11  Contacts_Count_12_mon     10167 non-null  int64
 12  Credit_Limit              10167 non-null  float64
 13  Total_Revolving_Bal       10167 non-null  int64
 14  Total_Amt_Chng_Q4_Q1      10167 non-null  float64
 15  Total_Trans_Amt           10167 non-null  int64
 16  Total_Trans_Ct            10167 non-null  int64
 17  Total_Ct_Chng_Q4_Q1       10167 non-null  float64
 18  Avg_Utilization_Ratio     10167 non-null  float64
 19  Unnamed: 19               0 non-null      float64
dtypes: float64(8), int64(7), object(5)
memory usage: 1.6+ MB

In [68]:
dataset = dataset.drop("Unnamed: 19", axis=1)

In [69]:
dataset = dataset.drop_duplicates(subset=["CLIENTNUM"], keep=False)

In [70]:
mean = dataset['Customer_Age'].mean()
std = dataset['Customer_Age'].std()

z_scores = (dataset['Customer_Age'] - mean) / std

outliers = dataset[abs(z_scores) > 3]
outliers
dataset = dataset.drop(outliers.index)

In [71]:
dataset = dataset.reindex(columns=['CLIENTNUM', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Total_Revolving_Bal',
       'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct',
       'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Credit_Limit'])

In [72]:
dataset['Gender'] =  LabelEncoder().fit(dataset['Gender']).transform(dataset['Gender'])
dataset['Education_Level'] =  LabelEncoder().fit(dataset['Education_Level']).transform(dataset['Education_Level'])
dataset['Marital_Status'] =  LabelEncoder().fit(dataset['Marital_Status']).transform(dataset['Marital_Status'])
dataset['Income_Category'] =  LabelEncoder().fit(dataset['Income_Category']).transform(dataset['Income_Category'])
dataset['Card_Category'] =  LabelEncoder().fit(dataset['Card_Category']).transform(dataset['Card_Category'])

In [73]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10070 entries, 0 to 10126
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10070 non-null  int64
 1   Customer_Age              10070 non-null  float64
 2   Gender                    10070 non-null  int32
 3   Dependent_count           10070 non-null  int64
 4   Education_Level           10070 non-null  int32
 5   Marital_Status            10070 non-null  int32
 6   Income_Category           10070 non-null  int32
 7   Card_Category             10070 non-null  int32
 8   Months_on_book            9853 non-null   float64
 9   Total_Relationship_Count  10050 non-null  float64
 10  Months_Inactive_12_mon    10070 non-null  int64
 11  Contacts_Count_12_mon     10070 non-null  int64
 12  Total_Revolving_Bal       10070 non-null  int64
 13  Total_Amt_Chng_Q4_Q1      10070 non-null  float64
 14  Total_Trans_Amt           10070 non-null  int64
 15  Total_Trans_Ct            10070 non-null  int64
 16  Total_Ct_Chng_Q4_Q1       10070 non-null  float64
 17  Avg_Utilization_Ratio     10070 non-null  float64
 18  Credit_Limit              10070 non-null  float64
dtypes: float64(7), int32(5), int64(7)
memory usage: 1.3 MB

In [74]:
obj = MinMaxScaler(feature_range = (0,1))
obj =  obj.fit(dataset)
normal_dataset = obj.transform(dataset)

normal_dataset = pd.DataFrame(normal_dataset, columns= dataset.columns)

In [75]:
normal_dataset['Months_on_book'].fillna(value=normal_dataset['Months_on_book'].mean(), inplace=True)
normal_dataset['Total_Relationship_Count'].fillna(value=normal_dataset['Total_Relationship_Count'].mean(), inplace=True)

C:\Users\nima\AppData\Local\Temp\ipykernel_2784\2620093902.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  normal_dataset['Months_on_book'].fillna(value=normal_dataset['Months_on_book'].mean(), inplace=True)
C:\Users\nima\AppData\Local\Temp\ipykernel_2784\2620093902.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  normal_dataset['Total_Relationship_Count'].fillna(value=normal_dataset['Total_Relationship_Count'].mean(), inplace=True)

In [76]:
data = normal_dataset.iloc[:, 0:-1]
label = normal_dataset.iloc[:,-1]

In [77]:
x_train , x_test, y_train, y_test = train_test_split(data, label , test_size = 0.3, shuffle =True, random_state= 7)

In [78]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(x_train, y_train)
score = model.score(x_test, y_test)
score

0.4833871074070699