In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import KNNImputer, SimpleImputer

In [2]:
df = pd.read_csv('sources/CreditPrediction.csv')
df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,NaN,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,NaN,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,NaN,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Unknown,NaN,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,NaN,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,NaN,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [3]:
df.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
count,1.016700e+04,10167.000000,10167.000000,9944.000000,10147.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,0.0
mean,7.391864e+08,46.753817,2.346513,35.913415,3.813245,2.341595,2.455887,8632.552346,1162.176748,0.759721,4402.349661,64.864463,0.712192,0.274716,NaN
std,3.690366e+07,13.520505,1.298701,7.980102,1.554741,1.010502,1.105580,9087.333842,815.082643,0.219054,3393.953441,23.461680,0.237934,0.275638,NaN
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,0.000000,510.000000,10.000000,0.000000,0.000000,NaN
25%,7.130407e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2556.500000,348.500000,0.631000,2155.500000,45.000000,0.582000,0.022000,NaN
50%,7.179400e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,0.736000,3900.000000,67.000000,0.702000,0.175000,NaN
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1783.000000,0.859000,4740.000000,81.000000,0.818000,0.502500,NaN
max,8.283431e+08,352.330517,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10167 entries, 0 to 10166
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10167 non-null  int64
 1   Customer_Age              10167 non-null  float64
 2   Gender                    9968 non-null   object
 3   Dependent_count           10167 non-null  int64
 4   Education_Level           10167 non-null  object
 5   Marital_Status            8217 non-null   object
 6   Income_Category           10167 non-null  object
 7   Card_Category             8243 non-null   object
 8   Months_on_book            9944 non-null   float64
 9   Total_Relationship_Count  10147 non-null  float64
 10  Months_Inactive_12_mon    10167 non-null  int64
 11  Contacts_Count_12_mon     10167 non-null  int64
 12  Credit_Limit              10167 non-null  float64
 13  Total_Revolving_Bal       10167 non-null  int64
 14  Total_Amt_Chng_Q4_Q1      10167 non-null  float64
 15  Total_Trans_Amt           10167 non-null  int64
 16  Total_Trans_Ct            10167 non-null  int64
 17  Total_Ct_Chng_Q4_Q1       10167 non-null  float64
 18  Avg_Utilization_Ratio     10167 non-null  float64
 19  Unnamed: 19               0 non-null      float64
dtypes: float64(8), int64(7), object(5)
memory usage: 1.6+ MB

In [5]:
df = df.drop("Unnamed: 19", axis=1)
df = df.drop_duplicates(subset=["CLIENTNUM"], keep=False)
df = df.drop("CLIENTNUM", axis=1)

In [6]:
z_score = (df['Customer_Age'] - df['Customer_Age'].mean()) / df['Customer_Age'].std()
outliers = df[(abs(z_score) > 3)]
df = df.drop(outliers.index)
outliers

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
2604,348.812169,M,3,Graduate,Single,$120K +,NaN,42.0,3.0,1,3,33996.0,949,0.846,3569,77,0.571,0.028
2902,337.305494,M,2,Graduate,Married,$80K - $120K,Blue,40.0,3.0,2,4,3290.0,2461,0.797,3591,80,0.739,0.748
3626,342.081289,F,3,Graduate,Single,Less than $40K,Blue,37.0,5.0,3,4,8017.0,0,0.539,3042,55,0.528,0.000
4151,230.297705,F,2,Graduate,Single,$40K - $60K,Blue,36.0,2.0,3,2,2121.0,0,0.618,1464,32,0.778,0.000
4725,232.613754,F,2,Doctorate,NaN,Less than $40K,NaN,37.0,4.0,3,2,2168.0,1485,0.546,3828,86,0.720,0.685
4776,243.187983,F,2,Graduate,Married,Less than $40K,Blue,36.0,5.0,2,4,3589.0,1808,0.750,4262,70,0.667,0.504
4978,270.081685,M,0,Graduate,Single,$80K - $120K,Blue,34.0,3.0,1,4,20231.0,1434,0.543,5002,78,0.660,0.071
7007,344.458168,M,4,High School,Single,$120K +,NaN,37.0,4.0,3,3,2701.0,1986,0.538,4767,76,0.854,0.735
7263,286.093650,M,3,College,Single,$120K +,Silver,NaN,4.0,4,2,34516.0,1073,0.558,4485,86,0.755,0.031
7732,286.884960,F,2,Graduate,Married,$40K - $60K,Blue,NaN,3.0,2,1,1989.0,1003,0.677,5070,70,0.750,0.504
7795,327.915095,M,2,High School,NaN,$80K - $120K,Blue,36.0,2.0,1,1,10761.0,1722,0.700,4731,82,0.783,0.160
8125,341.082060,M,1,Unknown,Single,$80K - $120K,Blue,47.0,5.0,6,5,7570.0,965,0.709,2599,61,0.848,0.127
8506,346.064409,M,0,Uneducated,Single,$40K - $60K,Blue,49.0,1.0,2,3,2228.0,1480,0.533,4431,71,0.651,0.664
9187,340.700381,M,1,Graduate,Unknown,$60K - $80K,Blue,53.0,1.0,1,2,6157.0,581,0.583,4041,65,0.548,0.094
9438,352.330517,M,3,High School,Married,$60K - $80K,Blue,50.0,2.0,1,2,5282.0,1144,0.800,13513,115,0.597,0.217
9907,303.851501,F,3,Unknown,Single,Less than $40K,Blue,36.0,1.0,2,5,7500.0,0,0.576,8024,78,0.696,0.000
10047,330.297464,M,2,Graduate,NaN,$40K - $60K,Blue,36.0,2.0,3,4,5735.0,0,1.009,9088,64,0.684,0.000

In [7]:
df = df.reindex(columns=['Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Total_Revolving_Bal',
       'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct',
       'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Credit_Limit'])

In [8]:
# nan_rows = dataset.isna().any(axis=1)
# unknown_rows = dataset.eq('Unknown').any(axis=1)
# combined_nan_rows = nan_rows | unknown_rows
# nan_dataset = dataset[combined_nan_rows]
# nan_dataset.replace('Unknown', np.nan, inplace=True)

# dataset = dataset[dataset["Gender"].str.contains("nan") == False]
# dataset = dataset[dataset["Education_Level"].str.contains("Unknown") == False]
# dataset = dataset[dataset["Marital_Status"].str.contains("nan|Unknown") == False]
# dataset = dataset[dataset["Income_Category"].str.contains("Unknown") == False]
# dataset = dataset[dataset["Card_Category"].str.contains("nan") == False]
# dataset = dataset.dropna()

# nan_dataset.info()

missing_values = ["NaN", "Unknown", ""]
df.replace(missing_values, np.nan, inplace=True)

df_missing = df[df.isnull().any(axis=1)]
df_clean = df.dropna()

In [9]:
numeric_features = df_clean.select_dtypes(include=['number']).columns
categorical_features = df_clean.select_dtypes(include=['object']).columns

numeric_transformer = SimpleImputer(strategy='mean')
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [10]:
df_clean_transformed = preprocessor.fit_transform(df_clean)

kmeans = KMeans(n_clusters=3)
clusters = kmeans.fit_predict(df_clean_transformed)
df_clean['Cluster'] = clusters

C:\Users\nima\AppData\Local\Temp\ipykernel_12316\3927821355.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Cluster'] = clusters

In [11]:
df_missing_transformed = preprocessor.transform(df_missing)
missing_clusters = kmeans.predict(df_missing_transformed)
df_missing['Cluster'] = missing_clusters

C:\Users\nima\AppData\Local\Temp\ipykernel_12316\424661295.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['Cluster'] = missing_clusters

In [12]:
for cluster in df_clean['Cluster'].unique():
    cluster_data = df_clean[df_clean['Cluster'] == cluster]
    for feature in numeric_features:
        mean_value = cluster_data[feature].mean()
        df_missing.loc[(df_missing['Cluster'] == cluster) & (df_missing[feature].isnull()), feature] = mean_value

C:\Users\nima\AppData\Local\Temp\ipykernel_12316\2574315018.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.3916666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_missing.loc[(df_missing['Cluster'] == cluster) & (df_missing[feature].isnull()), feature] = mean_value
C:\Users\nima\AppData\Local\Temp\ipykernel_12316\2574315018.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.330952380952381' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_missing.loc[(df_missing['Cluster'] == cluster) & (df_missing[feature].isnull()), feature] = mean_value
C:\Users\nima\AppData\Local\Temp\ipykernel_12316\2574315018.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.413095238095238' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_missing.loc[(df_missing['Cluster'] == cluster) & (df_missing[feature].isnull()), feature] = mean_value
C:\Users\nima\AppData\Local\Temp\ipykernel_12316\2574315018.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1153.604761904762' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_missing.loc[(df_missing['Cluster'] == cluster) & (df_missing[feature].isnull()), feature] = mean_value
C:\Users\nima\AppData\Local\Temp\ipykernel_12316\2574315018.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5304.346428571429' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_missing.loc[(df_missing['Cluster'] == cluster) & (df_missing[feature].isnull()), feature] = mean_value
C:\Users\nima\AppData\Local\Temp\ipykernel_12316\2574315018.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '67.14285714285714' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_missing.loc[(df_missing['Cluster'] == cluster) & (df_missing[feature].isnull()), feature] = mean_value

In [13]:
for cluster in df_clean['Cluster'].unique():
    cluster_data = df_clean[df_clean['Cluster'] == cluster]
    for feature in categorical_features:
        mode_value = cluster_data[feature].mode()[0]
        df_missing.loc[(df_missing['Cluster'] == cluster) & (df_missing[feature].isnull()), feature] = mode_value

In [14]:
df_combined = pd.concat([df_clean, df_missing])
df_combined

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Credit_Limit,Cluster
0,45.0,M,3.0,High School,Married,$60K - $80K,Blue,39.0,5.0,1.0,3.0,777.0,1.335,1144.0,42.0,1.625,0.061,12691.0,0
2,51.0,M,3.0,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1.0,0.0,0.0,2.594,1887.0,20.0,2.333,0.000,3418.0,1
5,44.0,M,2.0,Graduate,Married,$40K - $60K,Blue,36.0,3.0,1.0,2.0,1247.0,1.376,1088.0,24.0,0.846,0.311,4010.0,1
9,48.0,M,2.0,Graduate,Single,$80K - $120K,Blue,36.0,6.0,3.0,3.0,1677.0,1.524,1441.0,32.0,0.882,0.144,11656.0,0
12,56.0,M,1.0,College,Single,$80K - $120K,Blue,36.0,3.0,6.0,0.0,0.0,3.397,1539.0,17.0,3.250,0.000,11751.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10119,55.0,F,3.0,Uneducated,Married,$80K - $120K,Blue,47.0,4.0,3.0,3.0,2517.0,0.166,6009.0,53.0,0.514,0.172,14657.0,0
10123,41.0,M,2.0,Graduate,Divorced,$40K - $60K,Blue,25.0,4.0,2.0,3.0,2186.0,0.804,8764.0,69.0,0.683,0.511,4277.0,1
10124,44.0,F,1.0,High School,Married,Less than $40K,Blue,36.0,5.0,3.0,4.0,0.0,0.819,10291.0,60.0,0.818,0.000,5409.0,1
10125,30.0,M,2.0,Graduate,Married,$40K - $60K,Blue,36.0,4.0,3.0,3.0,0.0,0.535,8395.0,62.0,0.722,0.000,5281.0,1
10126,43.0,F,2.0,Graduate,Married,Less than $40K,Silver,25.0,6.0,2.0,4.0,1961.0,0.703,10294.0,61.0,0.649,0.189,10388.0,0

In [15]:
# nan_dataset['cluster'] = kmeans.predict(nan_dataset_pre)
# filled_data = pd.DataFrame()

# for cluster in range(5):
#     cluster_data_no_nan = dataset[dataset['cluster'] == cluster].drop(columns='cluster')
#     cluster_data_with_nan = nan_dataset[nan_dataset['cluster'] == cluster].drop(columns='cluster')

#     imputer = KNNImputer(n_neighbors=5)
#     cluster_data_filled = imputer.fit_transform(cluster_data_with_nan)
    
#     filled_cluster_dataset = pd.DataFrame(cluster_data_filled, columns=cluster_data_with_nan.columns)
#     filled_cluster_dataset['cluster'] = cluster
#     filled_data = pd.concat([filled_data, filled_cluster_dataset])

# filled_data = filled_data.drop(columns='cluster')

In [16]:
# nan_rows = dataset.isna().any(axis=1)
# unknown_rows = dataset.eq('Unknown').any(axis=1)
# combined_nan_rows = nan_rows | unknown_rows
# nan_dataset = dataset[combined_nan_rows]
# nan_dataset.replace('Unknown', np.nan, inplace=True)
# # nan_dataset.fillna(-1, inplace=True)
# nan_dataset

# nan_dataset['Gender'] = LabelEncoder().fit(nan_dataset['Gender']).transform(nan_dataset['Gender'])
# nan_dataset['Education_Level'] =  LabelEncoder().fit(nan_dataset['Education_Level']).transform(nan_dataset['Education_Level'])
# nan_dataset['Marital_Status'] =  LabelEncoder().fit(nan_dataset['Marital_Status']).transform(nan_dataset['Marital_Status'])
# nan_dataset['Income_Category'] =  LabelEncoder().fit(nan_dataset['Income_Category']).transform(nan_dataset['Income_Category'])
# nan_dataset['Card_Category'] =  LabelEncoder().fit(nan_dataset['Card_Category']).transform(nan_dataset['Card_Category'])
# nan_dataset

In [17]:
# dataset = dataset[dataset["Gender"].str.contains("nan") == False]
# dataset = dataset[dataset["Education_Level"].str.contains("Unknown") == False]
# dataset = dataset[dataset["Marital_Status"].str.contains("nan|Unknown") == False]
# dataset = dataset[dataset["Income_Category"].str.contains("Unknown") == False]
# dataset = dataset[dataset["Card_Category"].str.contains("nan") == False]
# dataset = dataset.dropna()
# dataset

In [18]:
a = set(df_combined['Gender'])
print(a)

{'M', 'F'}

In [19]:
df_combined['Gender'] =  LabelEncoder().fit(df_combined['Gender']).transform(df_combined['Gender'])
df_combined['Education_Level'] =  LabelEncoder().fit(df_combined['Education_Level']).transform(df_combined['Education_Level'])
df_combined['Marital_Status'] =  LabelEncoder().fit(df_combined['Marital_Status']).transform(df_combined['Marital_Status'])
df_combined['Income_Category'] =  LabelEncoder().fit(df_combined['Income_Category']).transform(df_combined['Income_Category'])
df_combined['Card_Category'] =  LabelEncoder().fit(df_combined['Card_Category']).transform(df_combined['Card_Category'])

In [20]:
# z_score = (dataset['Customer_Age'] - dataset['Customer_Age'].mean()) / dataset['Customer_Age'].std()
# outliers = dataset[(abs(z_score) > 3)]
# dataset = dataset.drop(outliers.index)
# dataset

In [21]:
# obj = MinMaxScaler(feature_range = (0,1))
# obj =  obj.fit(df_combined)
# normal_dataset = obj.transform(df_combined)
# normal_dataset = pd.DataFrame(normal_dataset, columns= df_combined.columns)
# normal_dataset

In [22]:
# dataset['Months_on_book'].fillna(value=dataset['Months_on_book'].mean(), inplace=True)
# dataset['Total_Relationship_Count'].fillna(value=dataset['Total_Relationship_Count'].mean(), inplace=True)

In [23]:

# kmeans = KMeans(n_clusters=5, random_state=52)
# kmeans.fit(normal_dataset)

# normal_dataset['cluster'] = kmeans.labels_
# normal_dataset

In [24]:
data = df_combined.iloc[:, 0:-2]
label = df_combined.iloc[:,-2]

In [25]:
x_train , x_test, y_train, y_test = train_test_split(data, label , test_size = 0.3, shuffle =True, random_state= 7)

In [26]:
obj = MinMaxScaler(feature_range=(0, 1))
obj.fit(x_train)
x_train = obj.transform(x_train)
x_test = obj.transform(x_test)

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

model = LinearRegression().fit(x_train, y_train)
score = model.score(x_test,y_test)
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')
print(f'score: {score}')

Mean Squared Error: 37310585.98888793
R-squared: 0.5695957633092372
score: 0.5695957633092372