In [52]:
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import normalize
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.preprocessing import StandardScaler
import lightgbm as lgb
from sklearn.metrics import mean_squared_error, r2_score

In [53]:
df = pd.read_csv('sources/CreditPrediction.csv')

In [54]:
df.drop_duplicates(inplace=True, ignore_index= True)
df.drop(['Unnamed: 19'], axis=1,inplace=True)

In [55]:
df['Income_Category'] = df['Income_Category'].map({"Unknown":-1, "Less than $40K":0, "$40K - $60K":1, "$60K - $80K":2 ,"$80K - $120K":3, "$120K +":4})
df['Card_Category'] = df['Card_Category'].map({"Blue":0, "Silver":1, "Gold":2, "Platinum":3})
df['Gender'] = df['Gender'].map({"M":0, "F":1})
df['Education_Level'] = df['Education_Level'].map({"Unknown":-1, "Uneducated":0, "High School":1, "College":2 ,"Graduate":3, "Post-Graduate":4, "Doctorate":5})
df['Marital_Status'] = df['Marital_Status'].map({"Unknown":-1, "Single":0, "Married":1, "Divorced":2})

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10132 entries, 0 to 10131
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10132 non-null  int64
 1   Customer_Age              10132 non-null  float64
 2   Gender                    9933 non-null   float64
 3   Dependent_count           10132 non-null  int64
 4   Education_Level           10132 non-null  int64
 5   Marital_Status            8193 non-null   float64
 6   Income_Category           10132 non-null  int64
 7   Card_Category             8217 non-null   float64
 8   Months_on_book            9911 non-null   float64
 9   Total_Relationship_Count  10112 non-null  float64
 10  Months_Inactive_12_mon    10132 non-null  int64
 11  Contacts_Count_12_mon     10132 non-null  int64
 12  Credit_Limit              10132 non-null  float64
 13  Total_Revolving_Bal       10132 non-null  int64
 14  Total_Amt_Chng_Q4_Q1      10132 non-null  float64
 15  Total_Trans_Amt           10132 non-null  int64
 16  Total_Trans_Ct            10132 non-null  int64
 17  Total_Ct_Chng_Q4_Q1       10132 non-null  float64
 18  Avg_Utilization_Ratio     10132 non-null  float64
dtypes: float64(10), int64(9)
memory usage: 1.5 MB

In [57]:
df['Months_on_book'].mean()

35.915346584602965

In [58]:
df['Gender'].fillna(df['Gender'].mode()[0], inplace = True)
df['Marital_Status'].fillna(df['Marital_Status'].mode()[0], inplace = True)
df['Card_Category'].fillna(df['Card_Category'].mode()[0], inplace = True)
df['Months_on_book'].fillna(int(df['Months_on_book'].mean()), inplace = True)
df['Total_Relationship_Count'].fillna(df['Total_Relationship_Count'].mode()[0], inplace = True)

C:\Users\nima\AppData\Local\Temp\ipykernel_18736\2220773040.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0], inplace = True)
C:\Users\nima\AppData\Local\Temp\ipykernel_18736\2220773040.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marital_Status'].fillna(df['Marital_Status'].mode()[0], inplace = True)
C:\Users\nima\AppData\Local\Temp\ipykernel_18736\2220773040.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Card_Category'].fillna(df['Card_Category'].mode()[0], inplace = True)
C:\Users\nima\AppData\Local\Temp\ipykernel_18736\2220773040.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Months_on_book'].fillna(int(df['Months_on_book'].mean()), inplace = True)
C:\Users\nima\AppData\Local\Temp\ipykernel_18736\2220773040.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total_Relationship_Count'].fillna(df['Total_Relationship_Count'].mode()[0], inplace = True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10132 entries, 0 to 10131
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10132 non-null  int64
 1   Customer_Age              10132 non-null  float64
 2   Gender                    10132 non-null  float64
 3   Dependent_count           10132 non-null  int64
 4   Education_Level           10132 non-null  int64
 5   Marital_Status            10132 non-null  float64
 6   Income_Category           10132 non-null  int64
 7   Card_Category             10132 non-null  float64
 8   Months_on_book            10132 non-null  float64
 9   Total_Relationship_Count  10132 non-null  float64
 10  Months_Inactive_12_mon    10132 non-null  int64
 11  Contacts_Count_12_mon     10132 non-null  int64
 12  Credit_Limit              10132 non-null  float64
 13  Total_Revolving_Bal       10132 non-null  int64
 14  Total_Amt_Chng_Q4_Q1      10132 non-null  float64
 15  Total_Trans_Amt           10132 non-null  int64
 16  Total_Trans_Ct            10132 non-null  int64
 17  Total_Ct_Chng_Q4_Q1       10132 non-null  float64
 18  Avg_Utilization_Ratio     10132 non-null  float64
dtypes: float64(10), int64(9)
memory usage: 1.5 MB

In [60]:
y = df['Credit_Limit']
x = df.drop(columns=['Credit_Limit'])
x = df.drop(columns=['Education_Level'])

In [61]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)

In [62]:
X_train = X_train.values
X_test = X_test.values
y_train = y_train.values
y_test = y_test.values

In [63]:
y_train.shape

(8105,)

In [64]:
rf_regressor = RandomForestRegressor(max_depth=10)
rf_regressor.fit(X_train, y_train)
y_pred = rf_regressor.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('R2 Score:', r2)

Mean Squared Error: 59.87705246325377
R2 Score: 0.9999992544456494

In [65]:
lgb_reg = lgb.LGBMRegressor()
lgb_reg.fit(X_train, y_train)

y_pred = lgb_reg.predict(X_test)
print(mean_squared_error(y_test, y_pred))

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000151 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2044
[LightGBM] [Info] Number of data points in the train set: 8105, number of used features: 18
[LightGBM] [Info] Start training from score 8660.625184
3772.419018970355

In [66]:
from sklearn.metrics import mean_squared_error, r2_score

In [67]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor(n_estimators= 400, max_depth=5, min_samples_split=2, learning_rate = 0.1, loss = 'squared_error')
clf.fit(X_train, y_train)
mse = mean_squared_error(y_test, clf.predict(X_test))
mse

190.00287517218948